.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer {
  text-align: center;
  padding: 20px;
}

.footer p {
  font-size: 0.875rem;
  color: var(--text-tertiary);
  font-weight: 500;
}
